/* Resetando o estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Aldihab,;
    background-color: #f4f1e1;
    color: #333;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #67050a;
    color:#f4f1e1;
    padding: 20px 0;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
}


/* Responsividade para telas pequenas */
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media screen and (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
}
